Package: com.tomaszpoliszuk.datepickerwheels
Depends: firmware (>= 14.0), mobilesubstrate
Name: Date Picker - Wheels
Version: 1.0
Architecture: iphoneos-arm
Description: Replace new "Inline" Datepicker with "Wheels" one known from previous iOS versions
Author: Tomasz Poliszuk
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension
